* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.bg-denger2 {
    background: #FD0100;
}

.bg-primary2 {
    background: #02006D;
}

.bg-warning2 {
    background: #f0aa00;
}

.bg-info2 {
    background: #0789e6;
}


/* navbar section start*/
.nav-item {
    padding: 27px 22px;
}

.nav-item:hover {
    background: #FD0100;
}

.nav-item:hover .nav-link {
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    left: 0px;
    top: 90px;
    width: 250px;
    border-radius: 0;
}

.dropdown-item {
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    background: #ffb607;
}

/* navbar section end */

/* slider section start */

.carousel-caption {
    bottom: 25rem;
}

.carousel-caption h5,
.carousel-caption p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 18px;
}

.carousel-indicators {
    margin-bottom: 10rem;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    bottom: 200px;
    border-radius: 50%;
}

.carousel-item:first-child {
    animation: slideup 0.8s;
}

.carousel-item:nth-child(2) {
    animation: slidedown 0.8s;
}

.carousel-item:nth-child(2) {
    animation: slidedown 0.8s;
}




@keyframes slideup {
    0% {
        transform: translateY(350px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slidedown {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0);
    }
}

/* slider section end */
/* ourfeature section start */


@media (min-width: 992px) {
    .ourfeature {
        position: relative;
        top: -150px;
    }
}

/* ourfeature section end */

/* online learning Section start */
   
   .onlinelearning p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 26px;
    color: #52575e;
    font-weight: 400;
   }

/* online learning Section end */

/* ourPopularClass section start */

    .classes{
        background: linear-gradient(rgba(2, 3, 14, 0.5),rgba(0,0,0,0.6)) ,url("../img/10.jpeg");
        margin-top: 50px;
    }

    .classes h1{
        color: #fff;
        font-size: 60px;
        font-weight: bold;
    }
    
    .classes .card{
        width: 350px;
        height: auto;
    }
    


    /* ////////// */


    /* ////////// */
/* ourPopularClass section end */

/* contactUs section start */

.contactUs{
    height: 450px;
    width: 100%;
    background: url(../img/contactUs.jpg) no-repeat top;
    background-size: cover;
}

.contactUs h2{
    font-size: 55px;
    color: #56225E;
    font-weight: bold;
    margin: 0;
}

.contactUs h2 span{
    display: block;
}

.contactUs p{
    font-size: 15px;
    font-weight: 500;
    
}

.contactUs a{
    font-weight: 700;
    font-size: 18px;
}
/* contactUs section end */

/* ourVideo section start */
.ourVideo{
   padding: 80px 0 90px 0;
   background-color: aliceblue;
}

.ourVideo h2{
    font-size: 55px;
    color: #56225E;
    font-weight: bold;
    margin: 30px;
}

.ourVideo .video{
  
    background:url(../img/video_img.jpg) no-repeat top;
    background-size: cover;
    width: 100%;
    height: 400px;
    border: 14px solid #7470e6;
}

.ourVideo .playbtn{
    margin-top: 150px;
    text-align: center;
    position: relative;
}

.playbtn a{
    box-sizing: content-box;
    display: inline-block;
    width: 32px;
    height: 44px;
    background: #fff;
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
    position: relative;
}

.playbtn a span {
    display: inline-block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #ee3131;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
}



/* ourVideo section end */

/* Gallery Section start */

.gallery{
    position: relative;
    background: url(../img/gallery-bg.jpg) no-repeat top;
    background-size: cover;
    height: 650px;
    width: 100%;
}

.gallery h2{
    font-size: 55px;
    color: #56225E;
    font-weight: bold;
    margin-top: 40px;
}

.gallery p{
    line-height: 30px;
    font-weight: 200;
}
/* Gallery Section end */
