* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.bg-denger2 {
    background: #FD0100;
}

.bg-primary2 {
    background: #02006D;
}

.bg-warning2 {
    background: #f0aa00;
}

.bg-info2 {
    background: #0789e6;
}


/* navbar section start*/
.nav-item {
    padding: 27px 22px;
}

.nav-item:hover {
    background: #FD0100;
}

.nav-item:hover .nav-link {
    color: #fff;
}

.dropdown:hover .dropdown-menu {
    display: block;
    border: none;
    left: 0px;
    top: 90px;
    width: 250px;
    border-radius: 0;
}

.dropdown-item {
    font-weight: 600;
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    background: #ffb607;
}

/* navbar section end */

/* slider section start */

.carousel-caption {
    bottom: 25rem;
}

.carousel-caption h5,
.carousel-caption p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: bold;
}

.carousel-caption p {
    font-size: 18px;
}

.carousel-indicators {
    margin-bottom: 10rem;
}

.carousel-dark .carousel-indicators [data-bs-target] {
    width: 20px;
    height: 20px;
    bottom: 200px;
    border-radius: 50%;
}

.carousel-item:first-child {
    animation: slideup 0.8s;
}

.carousel-item:nth-child(2) {
    animation: slidedown 0.8s;
}

.carousel-item:nth-child(2) {
    animation: slidedown 0.8s;
}




@keyframes slideup {
    0% {
        transform: translateY(350px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slidedown {
    0% {
        transform: translateY(-200px);
    }

    100% {
        transform: translateY(0);
    }
}

/* slider section end */
/* ourfeature section start */


@media (min-width: 992px) {
    .ourfeature {
        position: relative;
        top: -150px;
    }
}

/* ourfeature section end */

/* online learning Section start */
   
   .onlinelearning p{
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 26px;
    color: #52575e;
    font-weight: 400;
   }

/* online learning Section end */

/* ourPopularClass section start */

    .ourpopularclass{
        background: linear-gradient(rgba(2, 3, 14, 0.5),rgba(0,0,0,0.6)) ,url("../img/10.jpeg");
        height: 900px;
        margin-top: 50px;
    }

    .ourpopularclass h1{
        color: #fff;
        font-size: 60px;
        font-weight: bold;
    }

    .ourpopularclass:after{
            content: "";
            width: 54px;
            height: 2px;
            background: #f0aa00;
            margin-left: -26px;
            position: absolute;
            bottom: -20px;
            left: 50%;
    }


    /* ////////// */

    .item {
      margin: 10px;
        width: 370px;
        height: 480px;
        background-color: aliceblue;
        border: 1px red;
    }
    
    
    
    .image{
        position: relative;
    }
    
    .time {
        background-color: green;
        font-size: 12px;
        height: 15px;
        width: 125px;
        padding: 10px 12px;
        position: absolute;
        bottom: 5px;
        right: 20px;
        border-radius: 6px 6px 0 0;
        margin-bottom: 6px;
        color: white;
    }

    .path-box{
        padding: 26px 26px 16px 26px;
    }
    .path-box a{
        
        text-decoration: none;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        color: #000;
        font-weight:bold ;
        font-size: 25px;
        
    }
    
    .path-box p{
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        margin-top: 10px;
        font-size: 15px;
       
    }
    
    .student-box{
        display: flex;
        border: 1px solid #e6e6e6;
        margin-top: 15px;
        padding-top: 10px;
        justify-content: space-between;
    }

    .slider{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
       
    }

    /* ////////// */
/* ourPopularClass section end */

